<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_watch实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

    <!--
        computed和watch之间的区别：
            1.computed能完成的功能，watch都能完成。
            2.watch能完成的功能，computed不一定都能完成。例如watch可以异步操作。
        两个重要的小原则：
            1.所有被Vue管理的函数，最好写成普通函数（相对箭头函数），这样this的指向才是vm 或 组件实例对象。
            2.所有不被Vue所管理的函数（定时器的回调函数，ajax的回调函数，promise的回调函数），最好写成箭头函数，
                这样this的指向才是vm 或 组件实例对象
    -->
    <div id="root">
        姓：<input   type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false //阻止vue再启动时生成生产提示

    new Vue({
        el: "#root",
        data:{
            firstName:"张",
            lastName:"三",
            fullName:'张-三'
        },
        watch:{
            firstName(newValue){
                setTimeout(()=>{
                    this.fullName = newValue + "-" + this.lastName
                },1000)
            },
            lastName(val){
                this.fullName = this.firstName + "-" + val
            }
        }
    })
</script>
</html>